<br>
<div class="container">
    <div class="row">
        <div class="col-3  mb-3">
            <img src="../assets/image/canva-modern-bold-photo-professional-resume-cv-a4-printable-N9-5MMHzsSk.webp" width="300">
        </div>
        <div class="col-3  mb-3">
            <img src="../assets/image/canva-modern-photo-resume-digital-marketer-cv-printable-a4-RYOu6ebErrY.webp" width="300">
        </div>
        <div class="col-3  mb-3">
            <img src="../assets/image/canva-beige-modern-simple-professional-resume-template-roDe7ea2PCk.webp" width="300">
        </div>
        <div class="col-3  mb-3">
            <img src="../assets/image/canva-professional-cv-resume-h0S3WpcYlf8.webp" width="300">
        </div>
    </div>
</div>