<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="animate-charcter">Resume<br>Builder</h3>
      </div>
    </div>
  </div>
  <div class="content">
    Let’s Land Your Dream Job <br>Together
  </div>
  <div class="template">
    <div class="container" style="margin-top: 10%;margin-bottom: 10%;">
      <div class="row">
        <div class="col-3" style="padding-right: 10%;">
          <img src="../assets/image/canva-beige-modern-simple-professional-resume-template-roDe7ea2PCk.webp" width="300">
        </div>
        <div class="col-3">
          <img src="../assets/image/canva-modern-bold-photo-professional-resume-cv-a4-printable-N9-5MMHzsSk.webp" width="300">
        </div>
        <div class="col-3">
          <img src="../assets/image/canva-modern-photo-resume-digital-marketer-cv-printable-a4-RYOu6ebErrY.webp" width="300">
        </div>
        <div class="col-3">
          <img src="../assets/image/canva-professional-cv-resume-h0S3WpcYlf8.webp" width="300">
        </div>
      </div>
    </div>
  </div>
  <div class="content1">
    Why ResumeBuilder?<br>
  </div>

  <div class="container">
    <div class="content2">
      Our online resume builder offers a quick and easy way to create your professional resume from over 30 design templates. Create a resume using our AI-powered online resume wizard, plus take advantage of expert suggestions and customizable modern and professional resume templates. Free users have access to our easy-to-use tool and TXT file downloads.
      Pick one of many <br><br><br>
      <div class="row">
        <div class="col-4">
          <h3><u>Professional templates</u></h3>
          Choose from over 30 applicant tracking systems (ATS)-friendly modern and professional templates
        </div>
        <div class="col-4">
          <h3><u>Customize fonts and colors</u></h3>
          Select custom fonts and colors on any resume template.
        </div>
        <div class="col-4">
          <h3><u>Free resume examples</u></h3>          
          Use our more than 500 resume examples and templates to see what a great resume looks like in your field.
        </div>
      </div>
    </div>
  </div>