<div class="container">
    <div class="title1">Professional Resume Templates</div>
   <p style="text-align: right;">
        Every job seeker needs a professional resume that not only features their most relevant job<br> experience
        and skills but is organized and easy to read as well.
        Our clean, well-designed<br> resume templates are tested formats sure to catch the attention of hiring managers.
   </p>
   
   <div class="title2">Resume Templates</div> 
    <p>
        On average, hiring managers only spend 7.4 seconds reviewing each resume that lands<br> on their desk. This is why your
        resume mustn’t include any unnecessary language or design elements.<br> Our simple resume templates are designed to
        impress hiring managers quickly.
    </p>

    <div class="title1">Modern Resume Templates</div>
   <p style="text-align: right;">
    In some industries, such as fashion and marketing, it’s especially important to feature your creativity.<br>
    We offer sleek, contemporary resume templates that show hiring managers you’re<br> a modern candidate who’s worthy of a look.
   </p>
</div>