<div class="container">
    <div class="card">
        <div class="row">
          <form style="padding: 3% 3%;">
            <div class="row">
              <div class="col-3">              
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">First Name</label>
                </div>
              </div>
              <div class="col-3">              
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Last Name</label>
                </div>
              </div>
            </div>
  
            <div class="form-floating mb-3">
              <textarea class="form-control" id="floatingInput" placeholder=""></textarea>
              <label for="floatingInput">Branch</label>
            </div>
  
            <div class="form-floating mb-3">
              <textarea class="form-control" id="floatingInput" placeholder=""></textarea>
              <label for="floatingInput">Content</label>
            </div>
  
            <div class="row">
              <div class="col-3">              
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Eamil</label>
                </div>
              </div>
              <div class="col-3">              
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Mobile</label>
                </div>
              </div>
            </div>
  
            <div class="form-floating mb-3">
              <textarea class="form-control" id="floatingInput" placeholder=""></textarea>
              <label for="floatingInput">Address</label>
            </div>
  
            <div class="row">
              <div class="col-3">              
                <input type="button" value="Save Next" class="btn btn-primary" style="margin-right: 25px;">
                            
                <input type="reset" value="Reset" class="btn btn-primary">
              </div>
            </div>
        </form>
      </div>
    </div>
  
</div>