<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-6" style="margin-left: 25%;">
                <div id="login">
                    <div class="resume">Login</div>
                    <a routerLink="/register" routerLinkActive="active" class="btn-acc">Create New Account</a>
                    <form style="margin-top: 5%;margin-bottom: 5%;">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="col-12">
                            <button class="login-btn" type="submit">LogIn</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
