<footer>
    <div class="card">
        <div class="card-header">
            <div class="card-body">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-3">
                        <div class="resume">ResumeBuilder</div>
                        Using the Resume Builder app, you have a 30% higher chance of getting a job, and our users experience a 42% higher response rate from recruiters. 
                    </div>
                    <div class="col-1"></div>
                    <div class="col-3">
                        <div class="resume">About Resume Builder</div>
                        <ul>
                            <li>Resume Example</li><br>
                            <li>Resume Template</li><br>
                            <li>Resume About</li><br>
                            <li>Resume Builder</li><br>
                            <li>Login</li><br>
                        </ul>
                    </div>
                    <div class="col-3">
                        <div class="resume">Contact Us</div>
                        <ul>
                            <li><img src="../assets/image/facebook.png" width="40"></li>
                            <li><img src="../assets/image/instagram.png" width="40"></li>
                            <li><img src="../assets/image/twitter.png" width="40"></li>
                            <li><img src="../assets/image/github.png" width="40"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>
</footer>